@media screen and (min-width:830px) and (max-width:990px) {
    .burger {
        display: block;
        z-index: 1;
    }
    .nav-list {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100vw;

        

        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 0;
        clip-path: circle(100px at -90% -15%);
        pointer-events: none;
    }
  

    .book-image > img {
        width: 450px;
    }

    .picture,.picture-2,.picture-3 {
        width: 250px;
        height: 250px;
       
    }
    
    .description-picture {
        max-width: 250px
    }

    /*Estilo ativo*/
        .nav.is-active .nav-list {
            top: 0;
            right: 0;
            height: 100vh;
            width: 100%;
            background: var(--color1);
            position: fixed;
            pointer-events: all;
            clip-path: circle(1500px at 90% -15%);
        }

        .nav.is-active a {
            font-size: 20pt;
        }

        .nav.is-active .burger {
            border-top: transparent;
            position: relative;
        }
        .nav.is-active .burger::before {
            transform: rotate(130deg);
        }
        .nav.is-active .burger::after {
            transform: rotate(-130deg);
            top: -9px;
        }

    
    
    /* Fim*/
   
}

@media screen and (min-width:765px) and (max-width:830px) {
    .burger {
        display: block;
        z-index: 1;
    }
    .nav-list {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100vw;

        

        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 0;
        clip-path: circle(100px at -90% -15%);
        pointer-events: none;
    }

    .content > h1 {
        font-size: 30pt;
    }

    .content  > h3 {
        font-size: 15pt;
        text-align: center;
    }

    #nd-hero {
        font-size: 20pt;
        text-align: center;
    }

    .book-image > img {
        width: 350px;
    }

    .picture,.picture-2,.picture-3 {
        width: 220px;
        height: 250px;
       
    }
    
    .description-picture {
        max-width: 220px
    }


      /*Estilo ativo*/
      .nav.is-active .nav-list {
        top: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        background: var(--color1);
        position: fixed;
        pointer-events: all;
        clip-path: circle(1500px at 90% -15%);
    }

    .nav.is-active a {
        font-size: 20pt;
    }

    .nav.is-active .burger {
        border-top: transparent;
        position: relative;
    }
    .nav.is-active .burger::before {
        transform: rotate(130deg);
    }
    .nav.is-active .burger::after {
        transform: rotate(-130deg);
        top: -9px;
    }
}

@media screen and (min-width:650px) and (max-width:765px) {
    .hero > h1 {
        font-size: 25pt;
        text-align: center;
    }

    .burger {
        display: block;
        z-index: 1;
    }
    .nav-list {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100vw;

        

        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 0;
        clip-path: circle(100px at -90% -15%);
        pointer-events: none;
    }

    
      /*Estilo ativo*/
      .nav.is-active .nav-list {
        top: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        background: var(--color1);
        position: fixed;
        pointer-events: all;
        clip-path: circle(1500px at 90% -15%);
    }

    .nav.is-active a {
        font-size: 20pt;
    }

    .nav.is-active .burger {
        border-top: transparent;
        position: relative;
    }
    .nav.is-active .burger::before {
        transform: rotate(130deg);
    }
    .nav.is-active .burger::after {
        transform: rotate(-130deg);
        top: -9px;
    }

    .content > h1 {
        font-size: 30pt;
    }

    .content  > h3 {
        font-size: 15pt;
        text-align: center;
    }

    #nd-hero {
        font-size: 20pt;
        text-align: center;
    }

    .book-content {
        flex-direction: column;
    }

    .book-image > img {
        width: 350px;
    }

    .book-btn {
        width: 200px;
    }


    .discover-back {
        flex-direction: column;
        margin-bottom: 2em;
      
    }

    .discover-content > img {
        display: block;
        width: 400px;
        margin: 2em auto;
        border-top-right-radius: 2em;
        border-bottom-left-radius: 2em;
    }
   

   

    .woman-book {
        display: none;
    }

    .books {
        flex-direction: column;
    }

    .picture {
        background-position: center;
    }

    .picture,.picture-2,.picture-3 {
        width: 600px;
        height: 220px;
       
    }
    
    .description-picture {
        max-width: 600px;
    }

    footer {
        flex-direction: column;
        gap: 3em;
        align-items: center;
    }

}

@media screen and (max-width:650px) {
    
    nav > h2 {
        font-size: 15pt;
    }

    .burger {
        display: block;
        z-index: 1;
    }
    .nav-list {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100vw;

        

        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 0;
        clip-path: circle(100px at -90% -15%);
        pointer-events: none;
    }

    
      /*Estilo ativo*/
      .nav.is-active .nav-list {
        top: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        background: var(--color1);
        position: fixed;
        pointer-events: all;
        clip-path: circle(1500px at 90% -15%);
    }

    .nav.is-active a {
        font-size: 20pt;
    }

    .nav.is-active .burger {
        border-top: transparent;
    }
    .nav.is-active .burger::before {
        transform: rotate(130deg);
    }
    .nav.is-active .burger::after {
        transform: rotate(-130deg);
        top: -8px;
    }

    .hero > h1 {
        font-size: 25pt;
        text-align: center;
    }

    .line {
        padding: 3em;
    }

    .line > p {
        font-size: 15pt;
        
    }
  

    .content > h1 {
        font-size: 27pt;
    }

    .content  > h3 {
        font-size: 14pt;
        text-align: center;
    }

    #nd-hero {
        font-size: 20pt;
        text-align: center;
    }

    .line-one  > h2 {
        font-size: 25pt;
    }

    .line-one > p {
        font-size: 11pt;
    }

    .book-content {
        flex-direction: column;
    }

    .book-content > ul > li {
        font-size: 13pt;
    }

    .book-image > img {
        margin-top: 1em;
        width: 350px;
    }

    .book-btn {
        margin-top: 2em;
        width: 200px;
    }

    .natasja-name > h1 {
        font-size: 25pt;
        font-family: "Domine", serif;
        font-weight: lighter;
    }
    
    .natasja-name > p {
        align-self: flex-end;
        font-size: 15pt;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 0.4em;
    }

    .description > #p-h1 {
        font-size: 17pt;
    }

    .description > p {

        font-size: 13pt;
    }

    .explore > h1 {
        font-size: 25pt
    }

    .explore > p {
        font-size: 13pt;
        text-align: center;
    }


    .discover-back {
        flex-direction: column;
        border-radius: 0;
    }
    .discover-content > img {
        display: block;
        width: 250px;
        margin: auto;
        margin-top: 2em;
        border-top-right-radius: 2em;
        border-bottom-left-radius: 2em;
    }


    .woman-book {
        display: none;
    }

    .books {
        flex-direction: column;
    }

    .picture,.picture-2,.picture-3{
        width: 350px;
        height: 220px;
       
    }
    
    .description-picture {
        max-width: 350px;
    }

    .form-des > h1 {
        font-family: "Domine", serif;
        color: var(--color4);
        font-size: 26pt;
        margin-top: 2em;
        text-align: center;
      
    }
    
    .form-des > p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13pt;
        font-weight: lighter;
        color: var(--color4);
        text-align: center;
    }
    
    .form-input {
        display: flex;
        flex-direction: column;
        margin-top: 2em;
        width: 350px;
        gap: 1em;
    }
    
    input[type="text"] {
        padding: 1em;
        border: none;
        border-radius: 1em;
    }
    
    input[type="email"] {
        padding: 1em;
        border: none;
        border-radius: 1em;
    }
    
    
    .form-btn {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13pt;
        font-weight: 500;
        border: none;
        border-radius: 1em;
        background: var(--color2);
        padding: 1em;
        width: 100%;
        margin-top: 1em;
        color: var(--color1);
        transition: all 1s;
        cursor: pointer;
    }
    
    .form-btn:hover {
        background: var(--color3);
        transform: translateX(0.5em);
        transition: all 0.7s;
    }

    footer {
        flex-direction: column;
        gap: 3em;
        align-items: center;
    }
}